*{

    font-family: Bauhaus Md BT;
    align-items: center;
}

body{    
    background: url('./asset/image/back.png') no-repeat;
    background-size: cover;   
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px 50px;
}

img{
    width: 70px;
    margin-left: 50px;
    margin-top: 20px;
    
}

.menu{
    display: flex;
    gap: 50px;
}

a{
    text-decoration: none;
    color: white;
    
}

a.home{
    color: #087979;
}

a.home:hover{
    color: white;
}

a:hover{
    color: #087979;
}

h1,h2,p{
    margin-left: 50px;
    color: white;
}

h1{
    margin-top: 80px;
    font-size: 50px;
}

h2{
    margin-top: -25px;
    font-size: 30px;
}

p{
    width: 600px;
}

.submit{
    display: flex;
    margin-left: 50px;
    gap: 20px;
}

button{
    margin-top: 20px;
    border: 1px solid turquoise;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    color: turquoise;
    cursor: pointer;
}

button.h{
    color: black;
    background-color: turquoise;
}

button.l{
    background-color: #063340;
}

button.l:hover{
    color: black;
    background-color: turquoise;
}
